.dep
.libs/
.lo
.*.swp
Makefile
Makefile.fragments
Makefile.objects
autom4te.cache/
build/
config.h
config.h.in
config.h.in~
config.log
config.nice
config.status
configure
configure~
configure.ac
libtool
modules/
poqs*.dep
poqs*.la
poqs*.lo
poqs*.loT
run-tests.php
tmp-php.ini
tests/**/*.diff
tests/**/*.exp
tests/**/*.log
tests/**/*.out
tests/**/*.php
tests/**/*.sh
