--TEST--
Execute AVCP_Vector __VECTOR__
--FILE--
<?php declare(strict_types=1);

include __DIR__ . '/common.inc';

$vector = \ACVPTestVector::parseFile(__DIR__ . '/__VECTOR__.json');
$vector->runAllTestGroups();

echo "OK\n";
?>
--EXPECT--
OK
